* text=auto eol=lf

*.tex text diff=tex
*.bib text
*.md text
*.yml text
*.yaml text
*.json text
*.csv text
*.py text
*.sh text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.zip binary
*.ico binary
